<style>
    h1 {
        font-size:35px;
        color:tomato;
        font-family: fantasy;
    }
    
    form {
        display:flex;
        align-items: center;
        flex-direction: column;
        color:#3a3a3a;
    }

    label {
        display:flex;
        flex-direction: column;
        padding-bottom:10px;
        width:30%;
    }

    .tipo-lado {
        flex-direction: row;
    }

    input {
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
        border: solid 1px #ccc;
    }

    .desc {
        height:100px;
    }

    .botao {
        border-radius:16px;
        padding:10px;
        padding-top:2px;
        padding-bottom:2px;
        background:tomato;
        color:white;
        border:none;
    }
    
    .botao:hover {
        border:none;
        background-color:red;
    }


    

</style>


<form action="/Transacoes/Cadastro" method="POST">

    <h1> Cadastro de Transações </h1>

    <label> Descrição: 
        <input class="desc" type="text" name="descricao" placeholder="Insira a descrição da transação realizada...">
    </label>

    <label> Valor:
        <input type="number" name="valor" placeholder="Insira o valor da transação realizada...">
    </label>

    <label class="tipo-lado"> Tipo:
        <input type="radio" name="tipo" value="Despesa" checked>
        Despesa
        <input type="radio" name="tipo" value="Receita">
        Receita
    </label>

    <label> Data:
        <input type="date" name="datatransacao">
    </label>

    <input class="botao" type="submit" value="Enviar">
</form>

@ViewBag.Mensagem
